.cta {
  padding: 3.75rem 0;
  background-color: #d66039;
  color: #fff;

  h2 {
    font-size: 1.875rem;
  }

  form {
    @include breakpoints(large) {
      width: 100%;
    }

    a {
      color: #fff;
      padding: 0.75rem 2.1875rem;
      border: 0.0125rem solid #fff;
      font-size: 18px;
      width: -moz-fit-content;
      width: fit-content;
      transition: .3s ease-in-out;

      &:hover {
        background-color: #fff;
        color: #d66039;
        border-color: #d66039;
      }
    }
  }
}